/* line 7, app/assets/stylesheets/group.scss */
.groupcontainer {
  padding: 20px;
  text-align: center;
  align: center;
  margin: auto;
}

/* line 18, app/assets/stylesheets/group.scss */
.grouptable {
  align: center;
  margin: auto;
}
