<div class="activity_controller">
    <H1 class='pagetitle'>Edit an Activity Type</H1>
    <br>
    <div class="container">
        <div class='activitytypecontainer'>
            <H2 class='pagetitle'>Edit Activity</H2>
            <br>
            <% unless @actType.verified %>
                <p>
                    This activity type is awaiting approval. By submitting this form
                    you will approve the activity type for your group. 
                </p>
            <% end %>
            <br>
            <%= form_for @actType, :url => {:action => 'update', :id => @actType.id} do |a| %>
                <p>Activity Type Name: <%= a.text_field 'name', :value => @actType.name, :maxlength => 50, :minlength => 5, :required => true %></p>
                <p>Activity Type Score: <%= a.number_field 'score', :value => @actType.score, :step => 'any', :required => true %></p>
                <button type="submit" class="btn btn-primary btn-large">Save Changes</button>
            <% end %>
        </div>
    </div>
</div>