<!-- These links are for inside the controller -->
<br>
<br>
<br>
<nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-bottom">
  <% unless controller.action_name == "index" %>
    <% unless controller.controller_name == "profile" %>
      <%= button_to "Return", {:action => 'index', :controller => controller.controller_name}, :method => 'get', :type => 'button', :class => 'btn btn-sm btn-outline-secondary' %>
    <% end %>
  <% end %>
  <div class="ml-auto">
    <form class="form-inline">
      <div class="input-group">
        <input type="text" onkeyup="verifySearchQuery()" class="form-control rounded" id="searchBarInput" placeholder="Search Users">
        <div class="input-group-append">
          <button id="searchBarButton" class="btn btn-success fa fa-search" onclick="searchUser()" type="button" data-toggle="modal" data-target="#userSearchModal" disabled></button>
        </div>
      </div>
    </form>
  </div>
</nav>

<div class="modal fade" id="userSearchModal">
  <div class="modal-dialog">
    <div class="modal-content bg-info">
      <div class="modal-header">
        <h4 class="modal-title">User Search Results</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div id="userSearchContainer">
          <div id="sampleDIV" class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <span class="fa fa-user"></span>
              <a href="/profile/show?id=1" class="white-link">Test User Name</a>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>