// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid #002054;
}

.activitycontainer {
    padding: 25px;
}

.delitem {
    color: red !important;
}
.activitytable {
    border: 1px solid black;
    color: #012999;
}
.emptyerror {
    color: red !important;
    text-align: center;
}
.infotitle {
    text-align: center;
    color: #88bbe0;
}
.backitem {
    border: solid 5px transparent;
    border-left-color: #88bbdd;
}