// Place all the styles related to the ActivityType controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid #002054;
}

p{
    text-align: center;
    font-size: x-large;
}

.activitytypecontainer {
    padding: 25px;
    align: center;
    margin: auto;
}
.activitytypetable {
    align: center;
    margin: auto;
}


#activitytypes_name, #activitytypes_score{
    padding: 3px;
    font-size: large;
    
}

.form, .submitbutton{
    text-align: center;
}