/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: #8da0d3;
    color: black;
}

a {
    color: #6dc2ff;
    font-size: 20px;
    padding: 16px 8px;
    border-radius: 12px;
}
input {
    border-radius: 10px;
    border: 3px solid #66ccff;
}

select {
    border-radius: 10px;
    border: 3px solid #66ccff;
}



.container{
    width:100%;
    height: 100px;
    display;flex;
}


.activitypanel{
    width: 50%;
    heght: 200px;
    margin-left:auto;
    margin-right: auto;
}

.activity_feature{
    /*width: 100%;*/
    /*margin-left:45%;*/
    text-align: center;
    font-size: x-large;
    padding: 25px;
    
}


.buttonpanel{
    width: 100%;
    height: 35px;
    display: flex;
    
}

.submitbutton {
    border-radius: 5px !important;
    border: 1px solid #77ccff !important;
    background: lightgray;
    width: 20%;
    height: 100%;
    /*margin-top: 15px; */
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

#headercontainer {
    display: flex;
    overflow: hidden;
}

.title {
    color: black !important;
    text-decoration: none;
}
.pagetitle {
    text-align: center;
}
.headerchild {
    padding: 5px;
    flex: 1;
}
.lalign {
    text-align: left;
}
.ralign {
    text-align: right;
}

.devisecontainer {
    padding: 25px;
}

.notice {
    color: red;
}
.alert {
    color: red;
}

.userlink {
    padding: 0px!important;
    color: #6dc2ff;
    font-size: 12px!important;
    border-radius: 0px!important;
}

.backitem{
    position:absolute;
    bottom:0;
    left:0;
}