// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groupcontainer {
    padding: 20px;
    text-align: center;
}

.curgroup {
    background-color: lightblue;
}

.groupelement{
    padding: 20px;
    font-size: x-large;
}

#group_name, #group_description, #group_password{
    font-size: x-large;
}