// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//  ADDING COMMIT HERE TO MAKE FOR COMMIT CAUSE ERRORS WERE COMMITED ELSEWHERE


.groupcontainer {
    padding: 20px;
    text-align: center;
    align: center;
    margin: auto;
}

.curgroup {

}



table.grouptable {
  border: 1px solid #1C6EA4;
  background-color: #AED6F1;
  width: auto;
  text-align: left;
  border-collapse: collapse;
}
table.grouptable td, table.grouptable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.grouptable tbody td {
  font-size: 13px;
}
table.grouptable tr:nth-child(even) {
  background: #D0E4F5;
}
table.grouptable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.grouptable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.grouptable thead th:first-child {
  border-left: none;
}

table.grouptable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.grouptable tfoot td {
  font-size: 14px;
}
table.grouptable tfoot .links {
  text-align: right;
}
table.grouptable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.AlertMessage {
  visibility: hidden;
  color: red;
  font-size: 10px;
}

.searchBar {
  background-image: url(searchIcon.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #0ad;
  margin-bottom: 12px;
}
.selectBar {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 10px 12px 20px;
  border: 1px solid #0ad;
  margin-bottom: 12px;
}