<% if user_signed_in? %>
    <!-- have content for users who are signed in below -->
    <p>Add messages for users who are signed in here.</p>
    <!-- have a link to all the things users can do with the render -->
    <br>
    <%= render "shared/links" %>
<% else %>
    <!-- have content for users who are not signed in below, make this information
         about the website. -->
    <p>Welcome to Doing Together.</p>
<% end %>