<!DOCTYPE html>
<html>
<head>
  <title>Doing Together</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <center><H2>Doing Together</H2></center>
    <div id="headercontainer">
        <div class="headerchild"><H4 class="lalign">A place to do things together.</H2></div>
        <div class="headerchild"><H4 class="ralign"></H4></div>
    </div>
  </header>
<%= yield %>

</body>
</html>
